<%= form_with(model: certificate) do |form| %>
  <% if certificate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(certificate.errors.count, "error") %> prohibited this certificate from being saved:</h2>

      <ul>
        <% certificate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :pem %>
    <%= form.text_area :pem %>
  </div>

  <div class="field">
    <%= form.label :subject %>
    <%= form.text_field :subject %>
  </div>

  <div class="field">
    <%= form.label :issuer %>
    <%= form.text_field :issuer %>
  </div>

  <div class="field">
    <%= form.label :expires_at %>
    <%= form.date_select :expires_at %>
  </div>


  <%= form.select :certtype, [["Root", "0"], ["Intermediate", "1"], ["Leaf", "2"]] %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
